In [15]:
import pandas as pd
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV

In [5]:
data = pd.read_csv('train.csv')

In [8]:
data.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
417,418,1,2,"Silven, Miss. Lyyli Karoliina",female,18.00,0,2,250652,13.0000,NaN,S
766,767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C

In [66]:
numeric_features = ['Age','Fare']
numeric_transformer = Pipeline(steps = [
                                        ('imputer', SimpleImputer(strategy='median')),
                                        ('scaler', StandardScaler())
                                       ]
                              )
categorical_features = ['Embarked', 'Sex', 'Pclass']
categorical_transformer = Pipeline(steps = 
                                           [('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
                                            ('onehot', OneHotEncoder(handle_unknown='ignore'))
                                           ]
                                  )
preprocessor = ColumnTransformer(transformers = 
                                                 [('num',numeric_transformer, numeric_features),
                                                 ('cat',categorical_transformer, categorical_features)]
                                )
clf = Pipeline(steps = 
                      [('preprocessor', preprocessor),
                       ('classifier', RandomForestClassifier())
                       #('classifier', LogisticRegression(solver='lbfgs'))
                      ]
              )

In [64]:
X = data.drop(['PassengerId','Survived','Name'], axis=1)
y = data.Survived

In [67]:
params = {
    'preprocessor__num__imputer__strategy':['mean','median'],
    'classifier__n_estimators': [200, 500, 700],
    'classifier__max_features': ['sqrt',None],
    'classifier__max_depth': [ None,7,6,5,4,3,2]
}

grid_search = GridSearchCV(clf, params, cv=10)
grid_search.fit(X, y)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('preprocessor',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('num',
                                                                         Pipeline(memory=None,
                                                                                  steps=[('imputer',
                                                                                          SimpleImputer(add_indicator=False,
                                                                                                        copy=True,
                                                                                                        fill_value=None,
                                                                                                        missing_values=nan,
                                                                                                        strategy='med...
                                                               random_state=None,
                                                               verbose=0,
                                                               warm_start=False))],
                                verbose=False),
             iid='warn', n_jobs=None,
             param_grid={'classifier__max_depth': [None, 7, 6, 5, 4, 3, 2],
                         'classifier__max_features': ['sqrt', None],
                         'classifier__n_estimators': [200, 500, 700],
                         'preprocessor__num__imputer__strategy': ['mean',
                                                                  'median']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [68]:
grid_search.best_score_

0.8271604938271605

In [73]:
data_pred = pd.read_csv('test.csv')
X_pred = data_pred.drop(['PassengerId','Name','SibSp', 'Parch', 'Cabin'], axis=1)

In [74]:
y_pred = grid_search.predict(X_pred)

In [75]:
PassengerId = pd.Series(range(892,1310))
result_df = pd.DataFrame(columns=['PassengerId','Survived'])
result_df['PassengerId'] = PassengerId
result_df['Survived'] = y_pred
result_df = result_df.astype(int)
result_df.to_csv('submissions.csv', index=False)
result_df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [72]:
grid_search.best_estimator_

Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  Pipeline(memory=None,
                                                           steps=[('imputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value=None,
                                                                                 missing_values=nan,
                                                                                 strategy='median',
                                                                                 verbose=0)),
                                                                  ('scaler',
                                                                   StandardScaler(copy=True,
                                                                                  with_mean...
                 RandomForestClassifier(bootstrap=True, class_weight=None,
                                        criterion='gini', max_depth=7,
                                        max_features='sqrt',
                                        max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=700, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)